@use '@carbon/react/scss/spacing' as *;

.repo-page__r1 {
  margin-top: $spacing-07;
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  margin: 30px;
}

.container > div {
  margin-right: 30px; /* Agrega margen a la derecha de los elementos internos */
}

#tarjetas{
    display: flex;
}
