@use '@carbon/react/scss/spacing' as *;


#repo-page {
  .bx--grid-column {
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


.container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  margin: 30px;
}

.container > div {
  margin-right: 30px; /* Agrega margen a la derecha de los elementos internos */
}

#tarjetas{
    display: flex;

}
