@use '@carbon/react/scss/spacing' as *;

.repo-page__r1 {
  margin-top: $spacing-07;
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.paragraph-margin {
  margin-top: 3px; /* Puedes ajustar este valor según tu preferencia */
}


.text-above-table-margin {
  margin-top: 10px; /* Ajusta este valor según tu preferencia */
}


.texto1{
    color: red;
}


// Codigo de cambio de colores de las celdas de la tabla de severidad 1

.custom-cell {
  background-color: #ff0000; /* Cambia el color de fondo a rojo */
  color: #ffffff; /* Cambia el color del texto a blanco */
}




/* Código de cambio de colores de los encabezados de la tabla */
.custom-header {
  background-color: #ff0000; /* Cambia el color de fondo a rojo */
  color: #ffffff; /* Cambia el color del texto a blanco */
}

