.open-cases-container {
  justify-content: space-between; /* Puedes ajustar esto según tu diseño */
  display: flex;
}

.dropdown-container {
  flex: 1;
  margin-right: 10px; /* Agrega margen entre los Dropdowns */
}


.box-container{
  background-color: #ffffff;
  height: 200px; /* Establecer la altura deseada */
  padding: 20px; /* Agregar espacio interior */
  width: 1500px;
}
