.open-cases-container {
  justify-content: space-between; /* Puedes ajustar esto según tu diseño */
  display: inline-flex;
}


.box-container{
  display: inline-block;
  background-color: #ffffff;
  height: 200px; /* Establecer la altura deseada */
  width: 1500px;
  padding: 20px; /* Agregar espacio interior */
  margin-top: 40px;
}


#dropdownContainer{
  margin-right: 25px;
  width: 300px;
  height: 65px;
}

.filaDropDowns{
  margin-top: 20px;
  display: inline-flex;
}

#openC{
  font-weight: bold;
}
